
.swiper-container {
    width: 100%;
}


@media screen and (min-width: 640px) {
    .swiper-container {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 100%;
    }

}

.swiper-wrapper {
    padding-inline-start: 0;
}

#thumbs.swiper-container {
    margin-bottom: 20px;
}

#thumbs .swiper-slide {
    cursor: pointer;
}
.swiper-button-next, .swiper-button-prev{
    color: #72efdd;
}